// Variables
$verde-principal: #5FD79D;
$white: #FFF;
$quase-preto: #202020;
$azul-principal: #8AC3F9;
$vermelho-principal: #ED8686;
$bege: #feffd7;
$verde-secundario: #2e7452;
$azul-secundario: #547a9e;
$vermelho-secundario: #974343;
$laranja-principal: rgb(255, 198, 93);
$laranja-secundario: rgb(160, 123, 53);
$roxo: rgb(133, 66, 133);
$marrom: rgb(29, 15, 2);