@import '../variables/variables.scss';

.about--container {
  background-image: url(../../images/Fundo-azul-ondas2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -5em;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60vh;

  .about--content-container {
    padding-block: 5em;
    margin-top: 2em;
    padding-inline: 5em 2em;
    color: $white;

    .about--title {
      color: $vermelho-principal;
      font-size: 3.5em;
    }
  }

  .about--img-container {
    width: 100%;
    height: 100%;
    padding: 3em 0em;
    display: none;

    .about--img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      border-radius: 50%;
      z-index: 1;
    }

    .about-1 {
      position: absolute;
      left: 70%;
      top: 30%;
      height: 300px;
      width: 300px;
      border-radius: 30%;
      transform: rotate(-3deg);
    }

    .about-2 {
      position: absolute;
      top: 15%;
      left: 45%;
      height: 250px;
      width: 250px;
      border-radius: 30%;
      transform: rotate(-2deg);
    }

    .about-3 {
      position: absolute;
      top: 49%;
      left: 76%;
      height: 245px;
      width: 245px;
      border-radius: 30%;
      transform: rotate(5deg);
    }

    .about-4 {
      position: absolute;
      z-index: 1;
      top: 33%;
      left: 50%;
      height: 220px;
      width: 220px;
      border-radius: 30%;
      transform: rotate(3deg);
    }

    .about-5 {
      position: absolute;
      z-index: 1;
      top: 22%;
      left: 58%;
      height: 235px;
      width: 235px;
      border-radius: 30%;
      transform: rotate(13deg);
    }

    .about-6 {
      position: absolute;
      z-index: 1;
      top: 69%;
      left: 73%;
      height: 230px;
      width: 230px;
      border-radius: 40%;
      transform: rotate(-6deg);
    }

    .about-7 {
      position: absolute;
      z-index: 1;
      top: 67%;
      left: 57%;
      height: 230px;
      width: 230px;
      border-radius: 40%;
      transform: rotate(8deg);
    }

    .about-8 {
      position: absolute;
      z-index: 1;
      top: 55%;
      left: 47%;
      height: 220px;
      width: 220px;
      border-radius: 40%;
      transform: rotate(4deg);
    }

    .about-9 {
      position: absolute;
      z-index: 1;
      top: 47%;
      left: 60%;
      height: 210px;
      width: 210px;
      border-radius: 40%;
      transform: rotate(-7deg);
    }
  }

  @media (min-width: 768px) {

    min-height: 1000px;
    padding-inline: 3em 15em;
  }

  @media (min-width: 1000px) {
    .about--img-container {
      opacity: .7;
      padding-inline: 10em;
      display: block;
    }
  }
}